<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Votesphere</title>
    <link
        href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
        rel="stylesheet"
    />
</head>
<body>
	{% include 'header.html'%}
	<div class="container">
		<div class="row">
			<div class=".col-md-6 m-auto">
				{% block content %}
				{% endblock%}
			</div>
		</div>
	</div>
	{% include 'footer.html'%}
</body>

</html>
